body {
  margin: 0;
  padding: 0;
}

.dashboard--container {
  height: 100vh;
  background-color: #f9f8f7;
  padding: 20px;
  display: flex;
}

.dashboard--sidebar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard--scroll-container {
  flex: 3;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.sidebar--container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.header--container {
  padding: 20px;
}
