* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.dashboard--container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  padding: 100px 100px 0 100px;
}

.dashboard--sidebar-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard--scroll-container {
  flex: 3;
  display: flex;
  padding: 20px 20px 0 20px;
  flex-direction: column;
}

.dashboard--scroll-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard--scroll-section {
  padding: 20px 0;
}

.header--container {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(17, 1, 34, 0.1), 0 1px 4px 0 rgba(17, 1, 34, 0.08);
}

.header--link {
  margin: 0 10px;
}

.setup-pet--container {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
}

.setup-pet--title {
  font-size: 16px;
  font-weight: 100;
  font-family: FuturaBT-Heavy, sans-serif;
  color: #a7a7a7;
  margin-bottom: 10px;
}

.sidebar-pet-info--name {
  color: #a7a7a7;
  margin: 10px 0;
  font-size: 30px;
}

.sidebar-pet-info--attr-title {
  color: #a7a7a7;
  font-family: FuturaBT-Heavy, sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin: 10px 0 5px 0;
}

.sidebar-pet-info--attr-title.green {
  color: #7cb7b6;
}

.sidebar-pet-info--attr-title.yellow {
  color: #fab131;
}

.sidebar-pet-info--attr-title.red {
  color: #f27c5e;
}

.sidebar-pet-info--section {
  padding: 5px 0;
}

.sidebar-pet-info--attr-title.lg {
  font-size: 18px;
}

.sidebar-pet-info--color-attr-container {
  display: flex;
}

.sidebar-pet-info--visit-profile {
  font-size: 12px;
  display: flex;
}

.sidebar-pet-info--color-preview {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin-left: 10px;
}

.sidebar-pet-info--attr-section {
  margin: 20px 0;
}

.sidebar-pet-info--progress-bar-root {
  height: 5px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(236, 235, 235);
}

.sidebar-pet-info--progress-bar-root > .inner {
  height: 100%;
  transition: all 0.3s ease;
}

.sidebar-pet-info--progress-bar-root > .inner.green {
  background-color: #7cb7b6;
}

.sidebar-pet-info--progress-bar-root > .inner.yellow {
  background-color: #fab131;
}

.sidebar-pet-info--progress-bar-root > .inner.red {
  background-color: #f27c5e;
}

.sidebar-pet-info-stat-container {
  margin: 15px 0 10px 0;
}

.sidebar--wrapper {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #f7f7f7;
}

.dashboard--scroll-title {
  margin: 20px 0 0 0;
}

.dashboard--hidden-anchor {
  height: 0;
  visibility: hidden;
}

.header--left-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.marketplace-modal--effect-not-earning-warning-container {
  padding: 10px 0;
}
