.marketplace-modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.marketplace-modal--root {
  width: 700px;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  padding-top: 20px;
  min-height: 200px;
}

.marketplace-modal--header {
  margin: 10px 0;
}

.marketplace-modal--dismiss-button {
  border: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.marketplace-modal--dismiss-button > span {
  font-size: 18px;
}

.marketplace-modal--dismiss-button > svg {
  color: #fff;
}

.marketplace-modal--purchase-button {
  width: calc(100% - 60px);
  margin: 20px 30px;
}

.marketplace-modal--item-image {
  background-size: cover;
  border-bottom: 1px solid #f7f7f7;
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.marketplace-modal--content {
  padding: 30px 40px 0 40px;
}
